<svg
  {...Astro.props}
  width="24"
  height="24"
  viewBox="30 15 208 88"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Vault Logo</title>
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
      }

      .cls-2 {
        fill: #ffd814;
      }
    </style>
  </defs>
  <path
    class="cls-1"
    d="M145,38.69h7.92L140.85,79H129.6l-12-40.28h7.92l9.74,33.57Z"></path>
  <path
    class="cls-1"
    d="M174.9,79h-6l-.55-2a16.12,16.12,0,0,1-8.77,2.6c-5.38,0-7.68-3.69-7.68-8.77,0-6,2.6-8.29,8.59-8.29h7.08V59.44c0-3.27-.91-4.42-5.63-4.42a40.72,40.72,0,0,0-8.16.91l-.91-5.63a38.68,38.68,0,0,1,10.1-1.39c9.25,0,12,3.27,12,10.65Zm-7.37-11.13h-5.45c-2.42,0-3.08.67-3.08,2.91,0,2,.66,3,3,3a11.72,11.72,0,0,0,5.57-1.51Z"
  ></path>
  <path
    class="cls-1"
    d="M186.52,49.52V70.08c0,1.57.66,2.36,2.36,2.36s5-1.09,7.68-2.48V49.52h7.38V79h-5.63l-.72-2.48a29.44,29.44,0,0,1-11.8,3.09c-4.9,0-6.65-3.45-6.65-8.71V49.52Z"
  ></path>
  <path class="cls-1" d="M207.87,79V37.48l7.38-1V79Z"></path>
  <path
    class="cls-1"
    d="M237.26,78.43a20.62,20.62,0,0,1-6.47,1.15c-5.38,0-8.11-2.54-8.11-7.8V55.38h-4.41V49.52h4.41V42.2l7.38-1v8.35h7.56l-.48,5.86h-7.08V70.81a2.33,2.33,0,0,0,2.66,2.6,13.92,13.92,0,0,0,3.69-.61Z"
  ></path>
  <path
    class="cls-2"
    d="M30.11,27.8,62,89.86,94.11,27.8ZM57,52.44H52V47.36H57Zm0-7.62H52V39.74H57Zm7.62,15.24H59.57V55h5.08Zm0-7.62H59.57V47.36h5.08Zm0-7.62H59.57V39.74h5.08Zm7.58,7.62H67.15V47.36h5.08Zm-5.08-7.62V39.74h5.08v5.08Z"
  ></path>
</svg>
